{% extends 'base.html' %}

{% block title %}South Texas's Platform for Streamlined Project Bidding{% endblock %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    <div class="container my-5">
        {% for category, message in messages %}
            {% if category == 'success' %}
                <div class="alert alert-success mx-5" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-danger mx-5" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<div class="pt-3 pb-5" style="background-image:linear-gradient(#FFB67D, #FFFDD0);">

    <div class="container">
        <div class="row mb-3">   
            <div class="col-6 align-items-center d-flex">
                <div class="text-center">
                    <h1 style="color:black" class="pb-4">Find and Win Bids in South Texas</h1>
                    <p style="color:black">The Premier Resource for Government Contractors
                        - The Ultimate Platform for Collaborative Innovation.</p>
                </div>
            </div>

            <div class="col-6 align-items-center justify-content-center d-flex">
                <div class="text-center">
                    <img src='/static/contract.png' alt="Two scientists working on a laptop and examining a chemical flask." style="max-width: 100%;" id="contract">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">   
            <div class="col-4 align-items-center justify-content-center d-flex">
                <div class="text-center">
                    <a href="{{ url_for('views.current_bids') }}">
                        <button type="button" class="btn btn-primary" data-aos="fade-up">Current bids</button>
                    </a>                  
                </div>
            </div>

            <div class="col-4 align-items-center justify-content-center d-flex">
                <div class="text-center">
                    <a href="{{ url_for('views.closed_bids') }}">
                        <button type="button" class="btn btn-primary" data-aos="fade-up">Closed bids</button>
                    </a> 
                </div>
            </div>

            <div class="col-4 align-items-center justify-content-center d-flex">
                <div class="text-center">
                    <a href="{{ url_for('views.awarded_bids') }}">
                        <button type="button" class="btn btn-primary" data-aos="fade-up">Awarded bids</button>
                    </a>                 
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}