{% extends client_name + '/base.html' %}

{% block title %}{{ client_name_title }} Current Bids{% endblock %}

{% block content %}

<div class="py-5">
    <div class="container">
        <div class="row mb-3">   
            <div class="col-12 align-items-center justify-content-center d-flex">
                <div class="text-center">
                    <h1>Bid Details</h1>
                    <p>Here is a summary of the details for your selected bid.</p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}