{% extends client_name + '/base.html' %}

{% block title %}Choose New Password | {{ client_name_title }}{% endblock %}

{% block content %}


<div class="container my-5">

    <form action="{{ url_for('views.reset_password', token=token) }}" method="POST">
        <div class="mb-4">
            <h3>Reset Password</h3>
            <p>Please enter your new password:</p>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="form-floating mb-4">
                <input type="password" placeholder="New Password"
                    class="form-control" name="new_password">
                <label for="new_password">New Password</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" placeholder="Confirm Password"
                    class="form-control" name="confirm_password">
                <label for="confirm_password">Confirm Password</label>
            </div>
        </div>        
        
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>  

</div>

{% endblock %}